<body>
<mat-card class="emp-card">
  <mat-card-header >
    <mat-card-title>Customer Form</mat-card-title><br>
   </mat-card-header> 
    <mat-card-content>
      <form   [formGroup]="pocForm" (ngSubmit)="onSubmit(pocForm)"  >
        <div   fxLayout="column" >
          <div fxLayout.xs="column"  fxLayoutGap.xs="0px"  fxLayoutGap="20px" >
              <mat-form-field  fxFlex=50% fxFlex.xs=100% appearance="outline">
                <mat-label>First Name</mat-label>
                <input type="text" matInput formControlName="firstName">
                <div  class="errorMessage" *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)">
                  <div *ngIf="f.firstName.errors?.required">
                   First Name Required
                  </div>  
                </div>
              </mat-form-field>
              
              <mat-form-field   fxFlex=50%  fxFlex.xs=100% appearance="outline">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput formControlName="lastName">
                <div  class="errorMessage" *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)">
                  <div *ngIf="f.lastName.errors?.required">
                   Last Name Required
                  </div>  
                </div>
              </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Customer  Mobile</mat-label>
            <input  type="text" matInput formControlName="customerMobile" >
            <div  class="errorMessage" *ngIf="f.customerMobile.invalid && (f.customerMobile.dirty || f.customerMobile.touched)">
              <div *ngIf="f.customerMobile.errors?.required">
               Last Name Required
              </div>  
            </div>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Customer  Email</mat-label>
            <input type="text" matInput formControlName="customerEmail">
            <div  class="errorMessage" *ngIf="f.customerEmail.invalid && (f.customerEmail.dirty || f.customerEmail.touched)">
              <div *ngIf="f.customerEmail.errors?.email">
               Enter Valid Email
              </div>
            </div>
          </mat-form-field>
          <div fxLayoutAlign="space-between center" >  
            <button mat-flat-button color="primary"    (click)="clear()"  >Clear</button>
            <button mat-flat-button color="primary"    [disabled]="pocForm.invalid" type="submit"  >Submit</button>
          </div>
  
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  </body>
