
@import '~@angular/material/theming';
@include mat-core();
$angularForms-primary: mat-palette($mat-indigo);
$angularForms-accent: mat-palette($mat-pink, A200, A100, A400);
$angularForms-warn: mat-palette($mat-red);
$angularForms-theme: mat-light-theme((
  color: (
    primary: $angularForms-primary,
    accent: $angularForms-accent,
    warn: $angularForms-warn,
  )
));

@include angular-material-theme($angularForms-theme);

$dekstop: 800px;
$marginT: 10%;
$minWidth: 40%;
$maxHeight: 100%;
$paddingN: 25px;
$colors: (
 
   backG: rgb(231, 231, 250),
   warn: rgb(252, 145, 145),
   redWarn: rgb(235, 8, 8),

);


@function color($color-name){
    @return map-get($colors, $color-name)
}


@mixin  dekstop {
  @media  (min-width: $dekstop)  {
      @content;
  }
  
}

html, body { height: $maxHeight; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background-color: color(backG);}


.emp-card{
    margin-top: $marginT !important;
    margin: auto;
    padding: $paddingN;

    @include dekstop { 
      max-width: $minWidth;
  }
}

.errorMessage{
    color: color(warn);
    font-size: x-small;
}